# Import and Clean Data

In [2]:
from sklearn.datasets import load_iris
iris = load_iris()

In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib
matplotlib.style.use('ggplot')
from pandas.plotting import scatter_matrix
import numpy as np
%matplotlib inline

In [6]:
y = iris.target
X = iris.data

In [7]:
feature_names = iris.feature_names
label_names = iris.target_names
species_names = label_names[y]
iris_df = pd.DataFrame(X, columns = feature_names)
iris_df['species'] = y
iris_df['species names'] = species_names
iris_df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species,species names
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

# Data Visualizations

We'll start by trying to reproduce the scatter plots that Fisher made (https://en.wikipedia.org/wiki/Iris_flower_data_set#/media/File:Iris_dataset_scatterplot.svg)

In [8]:
colors = ['red', 'green', 'blue']